body{
    background-image: url(/практична3/img/abstract-wallpaper-white-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.inf{
    font-style:italic;
    margin: 35px 40px ;
}
.dj{
    float: left;
    margin-right: 10px;
}
.h11{
    margin-left: 300px ;

}
.zah{
    margin-left: 325px ;
    font-style:italic;
}
.foto{
    clear: both;
}
.foto2{
    margin-right: 5px;
}